@import '../../styles/variables';

.ComicsList {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__col {
    margin-bottom: 50px;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media #{$mq-md} {
      max-width: 20%;
      margin-bottom: unset;
    }
  }
}
